<html>
<head><title>Test</title></head>
<body>
<%- include('partials/header') %>
<div class="content">
  <%= include('partials/sidebar', { active: true }) %>
</div>
<%- include('partials/footer') %>
<%- include('partials/header') %>
</body>
</html>
